body{
  background-color: white;
}

.page{
  width: 780px;
  margin: auto;
  font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
  font-size: 16px; 
  border : 5px solid #4472C4;
  border-radius: 10px; 
  box-shadow: 2px 3px 4px black;
  padding 20px;
  background-color: white;
  }

.infophoto{
     height: 250px
     float: right;
  }

.info{
    float: right;
}

.photo{
    float: left;
  }

.section{
    margin-bottom: 70px; 
    text-align: justify;
    }

.section:hover{
  color: #F08080
}

.sec-gauche{
  float: left;
  font-weight: bold;
  font-size: 20px;
}

.sec-droite{
   margin-left: 150px;
   margin-top: 37px;
  }

h2{
  font-size: 28px;
  color: #3392BB; 
  border-bottom: 3px solid #3392BB;
}

.duree{
  font-weight: normal;
  font-style: italic:
    font-size: 16px;
}

.titre{
  font-weight: bold;
  font-size: 20px;
}

#forma-gauche p{
    margin-bottom :37px;
}

#exp-gauche p{
  margin-top: 32px;
  
#long-droite-sub p{
  margin-top: 42px;
}
  
#long-droite{
  line-height: 25px;
}
  
#interet-droite{
  margin-top: 56px;
}
  
  strong{
    font-size: 22px;
}
    
  
